<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Last-Modified" content="0">
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
	<meta http-equiv="Pragma" content="no-cache"> 
	<title>Resultados</title>
	<link rel="stylesheet" type="text/css" href="miestilo.css">
</head>
<body>
	<h1>Entradas de las temáticas:<span th:text="${param.tematica}"></span></h1>
	<div th:each="r:${resultados}">
		<h2><a th:href="${r.url}" th:text="${r.url}"></a></h2>
		<h4 th:text="${r.descripcion}"></h4>
		<hr>
	</div>
	<br>
	<h3>
	<a href="toBuscar">Volver</a>
	</h3>
</body>
</html>