<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GuardarServlet</display-name>
    <servlet-name>GuardarServlet</servlet-name>
    <servlet-class>servlets.GuardarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarServlet</servlet-name>
    <url-pattern>/GuardarServlet</url-pattern>
  </servlet-mapping>
  <display-name>_20Cursos_web</display-name>
  <welcome-file-list>
    <welcome-file>menu.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BuscarServlet</display-name>
    <servlet-name>BuscarServlet</servlet-name>
    <servlet-class>servlets.BuscarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarServlet</servlet-name>
    <url-pattern>/BuscarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarServlet</display-name>
    <servlet-name>EliminarServlet</servlet-name>
    <servlet-class>servlets.EliminarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarServlet</servlet-name>
    <url-pattern>/EliminarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>servlets.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>