    
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache"> 
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" >
</head>
<body>
	<h2>Compras de <span th:text="${session.cliente.usuario}"></span> </h2>
	<center>
		<table border="1">
			<tr>
				<th>Fecha compra</th>
				<th>Libro</th>
			</tr>
			
				<tr th:each="v:${ventas}">
					<td th:text="${v.fechaVenta}"></td>
					<td th:text="${v.tituloLibro}"></td>
				</tr>
			
		</table>
	</center>
	<a href="toMenu">Volver a home</a>
</body>
</html> 

