body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	
}

div {
	width: 400px;
	margin: 50px auto;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h1 {
	text-align: center;
	color: #9933cc; /* Púrpura */
}

form {
	display: flex;
	flex-direction: column;
}

input {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="submit"] {
	background-color: #9933cc; /* Púrpura */
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #660099; /* Púrpura oscuro al hacer hover */
}

a {
	display: block;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #9933cc;
	border-radius: 4px;
	transition: background-color 0.3s;
}

a:hover {
	background-color: #660099;
}
