<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ProductoServlet</display-name>
    <servlet-name>ProductoServlet</servlet-name>
    <servlet-class>servlet.ProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoServlet</servlet-name>
    <url-pattern>/ProductoServlet</url-pattern>
  </servlet-mapping>
  <display-name>_14Gestor_productos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductosServlet</display-name>
    <servlet-name>ProductosServlet</servlet-name>
    <servlet-class>servlet.ProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductosServlet</servlet-name>
    <url-pattern>/ProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProductosServlet</display-name>
    <servlet-name>ListarProductosServlet</servlet-name>
    <servlet-class>servlet.ListarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProductosServlet</servlet-name>
    <url-pattern>/ListarProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductoServlet</display-name>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <servlet-class>servlet.EliminarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <url-pattern>/EliminarProductoServlet</url-pattern>
  </servlet-mapping>
</web-app>